<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="30005">
	<setting id="days" type="number" label="30004" default="31"/>
	<setting id="subtitles" type="bool" label="30006" default="true"/>
	<setting id="primaryLanguage" type="enum" label="30007" lvalues="30009|30010|30011" default="0"/>
	<setting id="secondaryLanguage" type="enum" label="30008" lvalues="30009|30010|30011" default="1"/>
</category>                                                                                                       
</settings>
